body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px solid papayawhip;
    width: 100%;
} */

/* width==>Content width */
/* height==> Content height */
/* Padding==> Space around content */
/*Border==> Border around padding */
/* Margin==>Space outside border */
.container {
    border: 5px double rgb(8, 181, 109);
    font-size: 1rem;
    padding: 2rem;
    margin: 0.9rem;
    outline: 3px solid;
    /* outline-offset: 10px solid yellow; */
    outline-offset: -10px dotted rgb(51, 0, 255);
}

.circle {
    margin: 3rem auto;
    background-color: gold;
    width: 100px;
    height: 100px;
    border: 3px solid rgb(190, 130, 130);
    border-radius: 50px;
    outline: 2px solid rgb(18, 18, 19);
    outline-offset: 0.1rem;
}