main {
    padding: 5% 20%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ol {
    /* list-style: none; */
    /* list-style-type: disc;
    list-style-type: decimal;
    list-style-type: decimal-leading-zero;
    list-style-type: georgian;
    list-style-type: lower-latin; */
    /* list-style-type: circle; */
    list-style-type: lower-roman;
    padding: 0%;

}

ul {
    list-style-type: circle;
    text-align: center;
    list-style-position: inside;
    color: red;
    line-height: 1.4;

}



/* ul li:nth-last-child(3){
    color: blueviolet;
} */
ul li:nth-child(2) {
    color: blueviolet;
}
ul li::marker {
    color: black;
    content: "Hey>>";
}