body {
    font-family: 'Times New Roman', Times, serif;
    width: 100vw;
    height: 100vh;
}

.parent {
    border: 2px dotted #333;
    width: 75vw;
    height: 85vh;
    margin: 20px;
    position: relative;
}

.child {
    border: 2px solid grey;
    width: 50vw;
    height: 40vh;
    margin: 90px auto;
}

.box {
    color: #fff;
    padding: 2rem;
    width: 70px;
    height: 30px;
}

.absolute {
    background-color: red;
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 1;
}

.relative {
    background-color: blue;
    position: relative;
    top: 50px;
    left: 150px;


}

/* .sticky {
    background-color: green;
    position: sticky;
    top: 1px;
} */

.fixed {
    background-color: yellow;
    position: fixed;
    top: 12px;

}