body{
    padding: 10%;
    font-size: 20px;
    font-family: cursive;
}
a{
    text-decoration: none;
    /* cursor: not-allowed; */
    cursor: pointer;
    color: rgb(5, 71, 186);
}
a:hover,a:focus{
    /* color: rgb(29, 78, 78);  */
    color: hsla(300, 80%, 50%, 0.2);
}
a:active{
    color: rgb(10, 10, 10);
}
a::after{
    color: rgb(239, 4, 4);
}